# secrets
creds.json
.env
*.env

# python
__pycache__/
*.pyc
.venv/
venv/

# jupyter
.ipynb_checkpoints/

# system
.DS_Store
Thumbs.db

# large/temp outputs
*.log
*.tmp
*.bak

# model/cache
.cache/
.streamlit/secrets.toml

# exclude huge raw data
data/raw/